<div class="container">
<h2>Restaurant</h2>
<ul class="list-group">

  <li class="list-group-item"><label> Name : </label><%= @restaurant.name %></li>
  <li class="list-group-item"><label> Address : </label><%= @restaurant.address %></li>
  <li class="list-group-item"><label> Category : </label><%= @restaurant.category %></li>
</ul>
<ul class = "list-group">
<h2>Reviews</h2>
  <li class="list-group-item"><label><strong>Review: </strong></label>
  <% @restaurant.reviews.each do |review| %>
      <%= review.content %><br>
      <strong>Rating: </strong><%= review.rating %>
      <%= link_to "Delete", review_path(review), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>
  </li>
  <li><%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></li>
</ul>
</div>
